@font-face {
    font-family: font;
    src: url(./google_sans_font.woff2);
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: font;
}
html,body{
    width: 100%;
    height:100%;
}
@mixin columnAlign($gap:0rem){
    display:flex;
    flex-direction: column;
    gap:$gap;
}
.section1{
    background-image: linear-gradient(35deg, #fcdde8, #f3fcff 60%);
    padding:1rem;
}
.section1-content{
    @include columnAlign(3.2rem);
    padding: 1rem;
    text-align: center;
    max-width: 1600px;
    margin:0 auto;
    div{
        @include columnAlign(3rem);
        justify-content: center;
        align-items: center;
        img{
            object-fit: cover;
            width: 100%;
        }
        h1{
            font-size: 2.9rem;
            line-height: 3rem;
        }
    }
    p{
        font-size:2rem;
    }
}
.section2{
    padding:1rem;
}
.section2-content{
    @include columnAlign(3rem);
    max-width: 1600px;
    div{
        @include columnAlign(1.5rem);
        img{
            object-fit:cover;
            width:80%;
            margin:0 auto;
        }
        h1{
            font-size: 1.5rem;
        }
        p{
            font-size: 1.1rem;
        }
    }
}

.section3{
    padding:1rem;
}

.section3-content{
    @include columnAlign(3rem);
    max-width: 1600px;
    margin:0 auto;
    img{
        width:100%;
        object-fit:cover;
        margin:0 auto;
        
    }
    div{
        @include columnAlign(1rem);
    .text{
            @include columnAlign(1rem);
            h1{
                font-size: 2.8rem;
            }
            p{
                &:nth-of-type(1){
                    font-size: 1.2rem;
                }
            }
        }
    .buttons {
        @include columnAlign(1.2rem);
        div{
            button{
                padding: 0.8rem 1.8rem;
                border-radius: 2rem;
                border-color: #0468d7;
                color: #0468d7;
                background-color: white;
                font-weight: 800;
                width:60%;
            }
        }
        p{
            font-weight: 800;
            font-size: 0.9rem;
            padding-left:1.5rem;
        }
       
    }
    }
    
}

.section6{
    background-image: url("./image9.png");
    background-color: #041e3c;
    background-repeat: no-repeat;
    padding:3rem 2rem;
    border-radius: 2rem;
    background-size: cover;
    background-position: right center;
    margin:3rem 2rem;
    color:white;
  max-width: 1600px;
    margin:0 auto;
    div{
         @include columnAlign(1.2rem);
     h1{
                font-size: 2.8rem;
            }
            p{
                font-size: 1.2rem;
            }
    div{
         @include columnAlign(1.2rem);
        div{
            button{
                padding: 0.8rem 1.8rem;
                border-radius: 2rem;
                border-color: #0468d7;
                color: #0468d7;
                background-color: white;
                font-weight: 800;
                width:60%;
            }
        }
        p{
            font-weight: 800;
            font-size: 0.9rem;
            padding-left:1.5rem;
        }

    }
}

}

 .section4{
        padding:1rem;
        background-image: linear-gradient(35deg, #fcfce2 40%, #f5fbfe 90%);
        div{
            @include columnAlign(3rem);
            max-width:1600px;
            margin:0 auto;
            img{
                width:100%;
                object-fit:cover;
                margin:0 auto;  
            }
            div{
                @include columnAlign(1rem);
                h1{
                    font-size: 2.8rem;
                }
                p{
                    &:nth-of-type(1){
                    font-size: 1.2rem;
                }
                }
                div{
                    button{
                        padding: 0.8rem 1.8rem;
                        border-radius: 2rem;
                        border:none;
                        color: white;
                        background-color: #0468d7;
                        font-weight: 800;
                        width:60%;
                    }
                }
            }
        }
    }

.section5{
        padding:1rem;
        div{
            @include columnAlign(3rem);
            max-width:1600px;
            margin:0 auto;
            img{
                width:100%;
                object-fit:cover;
                margin:0 auto;  
            }
            div{
                @include columnAlign(1rem);
                h1{
                    font-size: 2.8rem;
                }
                p{
                    &:nth-of-type(1){
                    font-size: 1.2rem;
                }
                }
                div{
                    button{
                        padding: 0.8rem 1.8rem;
                        border-radius: 2rem;
                        border:none;
                        color: white;
                        background-color: #0468d7;
                        font-weight: 800;
                        width:60%;
                    }
                }
            }
        }
    }

    footer{
        background-color: #f3fcff;
    }
@media(min-width:1024px){
    .section1-content{
        padding: 2rem;
        div{
            flex-direction:row-reverse;
            img{
                width:50%;
            }
            h1{
                font-size: 4.5rem;
                line-height: 5rem;
            }
        }
        p{
            font-size: 2.3rem;
        }
    }
    .section2-content{
        padding: 2rem;
        flex-direction:row;
        margin: 0 auto;
    }
    .section3-content{
        flex-direction:row-reverse;
        align-items: center;
        justify-content: center;
        div{
            .buttons{
                flex-direction:row;
                gap:1rem;
                align-items: center;
                div{
                    button{
                        width:100%;
                    }
                }
            }
        }
        img{
            width:40%;
        }
    }
    .section4 div{
        flex-direction:row;
        justify-content: center;
        div{
            gap:1.4rem;
        }
    }
    .section5 div{
        flex-direction:row-reverse;
        justify-content: center;
        div{
            gap:1.4rem;
        }
    }
    .section6{
        div{
            div{
                flex-direction:row;
                gap:1rem;
                align-items: center;
                div{
                    button{
                        width:100%;
                    }
                }
            }
        }
    }
}
