@font-face {
    font-family: font;
    src: url(./google_sans_font.woff2);
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: font;
}

html,body{
    width: 100%;
    height:100%;
}
@mixin columnAlign($gap:0rem){
    display:flex;
    flex-direction: column;
    gap:$gap;
}
.section1{
    background-image: linear-gradient(35deg, #fcdde8, #f3fcff 60%);
    padding:1rem;
}
.section1-content{
    @include columnAlign(3.2rem);
    padding: 1rem;
    text-align: center;
    max-width: 1280px;
    margin:0 auto;
    div{
        @include columnAlign(3rem);
        justify-content: center;
        align-items: center;
        img{
            object-fit: cover;
            width: 100%;
        }
        h1{
            font-size: 2.9rem;
            line-height: 3rem;
        }
    }
    p{
        font-size:2rem;
    }
}
.section2{
    padding:1rem;
}
.section2-content{
    @include columnAlign(3rem);
    max-width: 1280px;
    div{
        border-top:4px solid #e8eaed;
        padding:1rem 0rem;
        @include columnAlign(1.5rem);
        img{
            object-fit:cover;
            width:80%;
            margin:0 auto;
        }
        h1{
            font-size: 1.5rem;
        }
        p{
            font-size: 1.1rem;
            color:#4a4a4a;
        }
    }
}

.section3{
    padding:1rem;
}

.section3-content{
    @include columnAlign(3rem);
    max-width: 1280px;
    margin:0 auto;
    img{
        width:100%;
        object-fit:cover;
        margin:0 auto;
    }
    div{
        @include columnAlign(1rem);
    .text{
            @include columnAlign(1rem);
            h1{
                font-size: 2.8rem;
            }
            p{
                    font-size: 1.1rem;
                    color:#4a4a4a;
            }
        }
    .buttons {
        @include columnAlign(1.2rem);
        div{
            button{
                padding: 0.8rem 1.8rem;
                border-radius: 2rem;
                border: 1px solid#0468d7;
                color: #0468d7;
                background-color: white;
                font-weight: 800;
                width:100%;
                cursor: pointer;
                transition: all 0.3s ease;
            }
            button:hover{
                border-color:#0468d7;
                background-color:#0468d7;
                color:white;
            }
        }
        p{
            font-weight: 800;
            font-size: 0.9rem;
            padding-left:1.5rem;
            color:#4a4a4a;
        }
       
    }
    }
    
}

.section6{
    display:flex;
    justify-content: center;
    margin: 3rem 2rem;
    >div{
    background-color: #041e3c;
    overflow: hidden;
    border-radius: 2rem;
    color: white;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height:350px;
    width:100%;
        .text{
            @include columnAlign(1.2rem);
                position: absolute;
                z-index: 5;
                padding: 6rem 2rem;
                h1{
                    font-size: 2.8rem;
                }
                p{
                    font-size: 1.2rem;
                }
            div{
                @include columnAlign(1.2rem);
                padding-top:0;
                div{
                    button{
                        padding: 0.8rem 1.8rem;
                        border-radius: 2rem;
                        border-color: #0468d7;
                        color: #0468d7;
                        background-color: white;
                        font-weight: 800;
                        width:60%;
                        cursor: pointer;
                    }
                }
                p{
                    font-weight: 800;
                    font-size: 0.9rem;
                    padding-left:1.5rem;
                    color:white;
                }

            }
        }
        .image{
            position:relative;
            img{
                object-fit: cover;
                width:100%;
            }
        }
    }

}

 .section4{
        padding:1rem;
        background-image: linear-gradient(35deg, #fcfce2 40%, #f5fbfe 90%);
        display: flex;
        justify-content: center;
        div{
            @include columnAlign(3rem);
            max-width:1280px;
            img{
                width:100%;
                object-fit:cover;
                margin:0 auto;  
            }
            div{
                @include columnAlign(1rem);
                h1{
                    font-size: 2.8rem;
                }
                p{
                    font-size: 1.1rem;
                    color:#4a4a4a;
                }
                div{
                    button{
                        padding: 0.8rem 1.8rem;
                        border-radius: 2rem;
                        border:none;
                        color: white;
                        background-color: #0468d7;
                        font-weight: 800;
                        width:200px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

.section5{
        padding:1rem;
        display:flex;
        justify-content: center;
        div{
            @include columnAlign(3rem);
            max-width:1280px;
            img{
                width:100%;
                object-fit:cover;
                margin:0 auto;  
            }
            div{
                @include columnAlign(1.2rem);
                h1{
                    font-size: 2.8rem;
                }
                p{
                    font-size: 1.1rem;
                    color:#4a4a4a;
                }
                div{
                    button{
                        padding: 0.8rem 1.8rem;
                        border-radius: 2rem;
                        border:1px solid #0468d7;
                        color: #0468d7;
                        background-color: white;
                        font-weight: 800;
                        width:200px;
                        cursor: pointer;
                        transition: all 0.3s ease;
                    }
                       button:hover{
                            border-color:#0468d7;
                            background-color:#0468d7;
                            color:white;
            }
                }
            }
        }
    }

@media(min-width:1024px){
    .section1-content{
        padding: 2rem;
        div{
            flex-direction:row-reverse;
            img{
                width:50%;
            }
            h1{
                font-size: 4.5rem;
                line-height: 5rem;
            }
        }
        p{
            font-size: 2.3rem;
        }
    }
    .section2-content{
        padding: 2rem;
        flex-direction:row;
        margin: 0 auto;
    }
    .section3-content{
        flex-direction:row-reverse;
        align-items: center;
        justify-content: center;
        div{
            .text{
                p{
                    font-size: 1.3rem;
                }
            }
            .buttons{
                flex-direction:row;
                gap:1rem;
                align-items: center;
                div{
                    button{
                        width:100%;
                        cursor: pointer;
                    }
                }
            }
        }
        img{
            width:40%;
        }
    }
    .section4 div{
        flex-direction:row;
        justify-content: center;
        img{
                width:45%;
            }
        div{
            p{
                font-size: 1.3rem;;
            }
            
            gap:1.4rem;
        }
    }
    .section5 div{
        flex-direction:row-reverse;
        justify-content: center;
        img{
                width:45%;
            }
        div{
            gap:1.4rem;
            p{
                font-size: 1.3rem;;
            }
        }
    }
    .section6{
        div{
        flex-direction:row;
        .text{
            position:static;
            padding-left:7rem;
            height: 1px;
            width:100%;
            h1{
                font-size: 3.8rem;
            }
            div{
                flex-direction:row;
                gap:1rem;
                align-items: center;
                padding-top: 0.8rem;
                div{
                    button{
                        width:100%;
                    }
                }
            }
        }
        .image{
            position:static;
        }
    }
}
}
